{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<main class="px-3 in_center ">
  <div class="text_center">
      <h1>Well come to Task Manager</h1>
      <p class="lead arrange">
The Task Management Website is a user-friendly web application designed to help in efficiently organize, track, and complete their
tasks. With a clean and intuitive interface, users can seamlessly add, update, delete, and categorize
tasks based on priority or deadlines
      </p>
      <p>
        <a href="{{ url_for('login') }}"><button type="button" class="btn btn-secondary">LOGIN</button></a>
        <a href="{{ url_for('register') }}" ><button type="button" class="btn btn-secondary">REGISTER</button></a>
      </p>
  </div>
    </main>
{% endblock %}